<header class="site-header">
    <div class="site-header__item site-header__item--grow">
        <a class="site-header__link" href="/">
            <h1>rdenn.is</h1>
        </a>
    </div>
    <div class="site-header__item">
        <button class="site-header__nav-toggle" type="button" on="tap:site-sidebar.open">open sidebar</button>
    </div>
</header>