//- layout.pug
doctype html
html(lang="en")
    head
        block title
            title rdenn.is
                if title && title.trim && title.trim()
                    | - #{title}
                if typeof env === 'string' && env !== 'production'
                    |  #{env}
        block styles
        block head-scripts
    body
        block content
        block body-scripts
